## 1- Read the data file: Balance.csv

In [1]:
import pandas as pd
df = pd.read_csv('Balance.CSV')
df

    Customer_ID Customer_Name Gender  Balance  Deposite
0             1            Ah      F      500        80
1             2            Ab      F      340        82
2             3            Ah      F     3000        81
3             4            Ab      M      200       120
4             5            Ah      M      120       300
5             6            Ab      F      500        80
6             7            Ah      F      123        80
7             8            Ab      F      435        81
8             9            Ah      M    34545        70
9            10            Ab      M     3000        77
10           11            Ah      M      200        81
11           12            Ab      F      120        71
12           13            Ah      F      500        72
13           14            Ab      F      123        76
14           15            Ah      F      435        76
15           16            Ab      F     3000        75
16           17            Ah      M      200        80
17           18            Ab      M      120        67
18           19            Ah      M      500        66
19           20            Ab      F      123        82
20           21            Ah      M      435        72
21           22            Ab      F     3000        54
22           23            Ah      F      200        60
23           24            Ab      M      120        66
24           25            Ah      M      500        66
25           26            Ab      M      123        66
26           27            Ah      F      435        70
27           28            Ab      M     3000        72
28           29            Ah      F      200        65
29           30            Ab      F      120        67
30           31            Ah      F      500        66
31           32            Ab      F      123        67
32           33            Ah      F      435        65
33           34            Ab      F     3000        64
34           35            Ah      F      200        67
35           36            Ab      F      120        67
36           37            Ah      M      500        68
37           38            Ab      F      123        70

## 2- Create a new column by the name of (Total Balance) which is the sum of the deposit and the balance.

In [2]:
df['Total Balance'] = df['Balance'] + df['Deposite']
df

    Customer_ID Customer_Name Gender  Balance  Deposite  Total Balance
0             1            Ah      F      500        80            580
1             2            Ab      F      340        82            422
2             3            Ah      F     3000        81           3081
3             4            Ab      M      200       120            320
4             5            Ah      M      120       300            420
5             6            Ab      F      500        80            580
6             7            Ah      F      123        80            203
7             8            Ab      F      435        81            516
8             9            Ah      M    34545        70          34615
9            10            Ab      M     3000        77           3077
10           11            Ah      M      200        81            281
11           12            Ab      F      120        71            191
12           13            Ah      F      500        72            572
13           14            Ab      F      123        76            199
14           15            Ah      F      435        76            511
15           16            Ab      F     3000        75           3075
16           17            Ah      M      200        80            280
17           18            Ab      M      120        67            187
18           19            Ah      M      500        66            566
19           20            Ab      F      123        82            205
20           21            Ah      M      435        72            507
21           22            Ab      F     3000        54           3054
22           23            Ah      F      200        60            260
23           24            Ab      M      120        66            186
24           25            Ah      M      500        66            566
25           26            Ab      M      123        66            189
26           27            Ah      F      435        70            505
27           28            Ab      M     3000        72           3072
28           29            Ah      F      200        65            265
29           30            Ab      F      120        67            187
30           31            Ah      F      500        66            566
31           32            Ab      F      123        67            190
32           33            Ah      F      435        65            500
33           34            Ab      F     3000        64           3064
34           35            Ah      F      200        67            267
35           36            Ab      F      120        67            187
36           37            Ah      M      500        68            568
37           38            Ab      F      123        70            193

## 3- Add 3 per cent to the Balance Column.

In [3]:
df['Balance'] = df['Balance'] * 0.03 + df['Balance']
df

    Customer_ID Customer_Name Gender   Balance  Deposite  Total Balance
0             1            Ah      F    515.00        80            580
1             2            Ab      F    350.20        82            422
2             3            Ah      F   3090.00        81           3081
3             4            Ab      M    206.00       120            320
4             5            Ah      M    123.60       300            420
5             6            Ab      F    515.00        80            580
6             7            Ah      F    126.69        80            203
7             8            Ab      F    448.05        81            516
8             9            Ah      M  35581.35        70          34615
9            10            Ab      M   3090.00        77           3077
10           11            Ah      M    206.00        81            281
11           12            Ab      F    123.60        71            191
12           13            Ah      F    515.00        72            572
13           14            Ab      F    126.69        76            199
14           15            Ah      F    448.05        76            511
15           16            Ab      F   3090.00        75           3075
16           17            Ah      M    206.00        80            280
17           18            Ab      M    123.60        67            187
18           19            Ah      M    515.00        66            566
19           20            Ab      F    126.69        82            205
20           21            Ah      M    448.05        72            507
21           22            Ab      F   3090.00        54           3054
22           23            Ah      F    206.00        60            260
23           24            Ab      M    123.60        66            186
24           25            Ah      M    515.00        66            566
25           26            Ab      M    126.69        66            189
26           27            Ah      F    448.05        70            505
27           28            Ab      M   3090.00        72           3072
28           29            Ah      F    206.00        65            265
29           30            Ab      F    123.60        67            187
30           31            Ah      F    515.00        66            566
31           32            Ab      F    126.69        67            190
32           33            Ah      F    448.05        65            500
33           34            Ab      F   3090.00        64           3064
34           35            Ah      F    206.00        67            267
35           36            Ab      F    123.60        67            187
36           37            Ah      M    515.00        68            568
37           38            Ab      F    126.69        70            193

## 4- Remove the Custumer_Name column.

In [4]:
df.drop('Customer_Name', axis =1, inplace = True)
df

    Customer_ID Gender   Balance  Deposite  Total Balance
0             1      F    515.00        80            580
1             2      F    350.20        82            422
2             3      F   3090.00        81           3081
3             4      M    206.00       120            320
4             5      M    123.60       300            420
5             6      F    515.00        80            580
6             7      F    126.69        80            203
7             8      F    448.05        81            516
8             9      M  35581.35        70          34615
9            10      M   3090.00        77           3077
10           11      M    206.00        81            281
11           12      F    123.60        71            191
12           13      F    515.00        72            572
13           14      F    126.69        76            199
14           15      F    448.05        76            511
15           16      F   3090.00        75           3075
16           17      M    206.00        80            280
17           18      M    123.60        67            187
18           19      M    515.00        66            566
19           20      F    126.69        82            205
20           21      M    448.05        72            507
21           22      F   3090.00        54           3054
22           23      F    206.00        60            260
23           24      M    123.60        66            186
24           25      M    515.00        66            566
25           26      M    126.69        66            189
26           27      F    448.05        70            505
27           28      M   3090.00        72           3072
28           29      F    206.00        65            265
29           30      F    123.60        67            187
30           31      F    515.00        66            566
31           32      F    126.69        67            190
32           33      F    448.05        65            500
33           34      F   3090.00        64           3064
34           35      F    206.00        67            267
35           36      F    123.60        67            187
36           37      M    515.00        68            568
37           38      F    126.69        70            193

## 5- Rename the Customer_ID to become ID.

In [5]:
df = df.rename(columns={'Customer_ID':'ID'})
df

    ID Gender   Balance  Deposite  Total Balance
0    1      F    515.00        80            580
1    2      F    350.20        82            422
2    3      F   3090.00        81           3081
3    4      M    206.00       120            320
4    5      M    123.60       300            420
5    6      F    515.00        80            580
6    7      F    126.69        80            203
7    8      F    448.05        81            516
8    9      M  35581.35        70          34615
9   10      M   3090.00        77           3077
10  11      M    206.00        81            281
11  12      F    123.60        71            191
12  13      F    515.00        72            572
13  14      F    126.69        76            199
14  15      F    448.05        76            511
15  16      F   3090.00        75           3075
16  17      M    206.00        80            280
17  18      M    123.60        67            187
18  19      M    515.00        66            566
19  20      F    126.69        82            205
20  21      M    448.05        72            507
21  22      F   3090.00        54           3054
22  23      F    206.00        60            260
23  24      M    123.60        66            186
24  25      M    515.00        66            566
25  26      M    126.69        66            189
26  27      F    448.05        70            505
27  28      M   3090.00        72           3072
28  29      F    206.00        65            265
29  30      F    123.60        67            187
30  31      F    515.00        66            566
31  32      F    126.69        67            190
32  33      F    448.05        65            500
33  34      F   3090.00        64           3064
34  35      F    206.00        67            267
35  36      F    123.60        67            187
36  37      M    515.00        68            568
37  38      F    126.69        70            193