# Define a list

## Define a list that contains 3 types of fruit

In [2]:
fruit = ['Apple', 'Banana', 'Orange', "Apple"]
type(fruit)

list

# How many elements in the list

In [3]:
n = len(fruit)
print (n)

4

In [4]:
print (fruit)

['Apple', 'Banana', 'Orange', 'Apple']

## Print the second item in the list

In [5]:
print ("The second element is ",fruit[1])

The second element is  Banana

# Reverse indexing

### print the last element and the last but one element of the list

In [6]:
print("The last element is: ", fruit[-1])
print("The last but one element is: ", fruit[-2])

The last element is:  Apple
The last but one element is:  Orange

# Range of Indexes : Slicing

In [7]:
A = [2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 7, 0]
A[1:3]

[3, 4]

In [8]:
A[4:8]

[6, 7, 1, 2]

In [15]:
A[0: 2]

[2, 3]

In [10]:
A[3: ]

[5, 6, 7, 1, 2, 3, 4, 7, 0]

In [11]:
A[ : ]

[2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 7, 0]

# Using in

In [16]:
x = "Banana" in fruit
x

True

In [12]:
x = "2" in A
x

False

# change an item in a list

In [13]:
fruit

['Apple', 'Banana', 'Orange', 'Apple']

In [14]:
# change the apple to be Melon
fruit[3]="Melon"
fruit

['Apple', 'Banana', 'Orange', 'Melon']

##

In [2]:
L=['A', 'B', 1, "2"]
L

['A', 'B', 1, '2']

In [8]:
L=['A', 'B', 1, "2"]
L[-1]='4'
L

['A', 'B', 1, '4']

In [9]:
# insert x between "B" and 1
# take the last list I get it e.g:['A', 'B', 'x', 'x', 1, '4']
L.insert(2,"x")
L

['A', 'B', 'x', 1, '4']

In [15]:
# add 5 to the end of the list
L.append(5)
L

['A', 'B', 'x', 1, '4', 5, 5, 5, 5, 5, 5]

## Externd a list

In [17]:
L1 = [1, 2, 3]
L2 = [10, 20, 30, 40]
L1.extend(L1)
L1

[1, 2, 3, 1, 2, 3]

In [18]:
L1 = [1, 2, 3]
L2 = [10, 20, 30, 40]
L1 = L1 + L2
L1

[1, 2, 3, 10, 20, 30, 40]

In [19]:
L = [10, 20, 30, 40]
# Remove 20 from the list
L.remove(20)
L

[10, 30, 40]

In [20]:
L = [10, 20, 30, 40]
# Remove the second element
x = L.pop(1)
L

[10, 30, 40]

In [ ]:
St = ["M"]